.clrhdr {
  background-color: #D8D8D8

}

.navigation{

background-color: #586159;
color: #C0C2C8;

}

.btnclr{
  background-color: #D8D8D8;
}

.buttonsecondary{
  background-color: #586159;
}
.link{
  color: #FFFFFF;
}
